export PRIORI_API_ENDPOINT=localhost:5000
export PRIORI_EMAIL_USERNAME=priori.services@gmail.com
export PRIORI_EMAIL_PASSWORD=
export PRIORI_EMAIL_HOST=smtp.gmail.com
export PRIORI_EMAIL_PORT=587

dotnet watch
