@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace PRIORI_SERVICES_WEB.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="PRIORI_SERVICES_WEB.styles.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>

<body class="bg-dark text-light">
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <script src="_framework/blazor.server.js"></script>
    <script type="text/javascript">
        function ocultarelemento(elemento) {
            document.getElementById(elemento).style.display = "none";
        }

        function desocultarelemento(elemento) {
            document.getElementById(elemento).style.display = "block";
        }

        var prevScrollpos = window.pageYOffset;

        window.onscroll = () => {
            var currentScrollPos = window.pageYOffset;
            if (prevScrollpos > currentScrollPos) {
                document.getElementById("navbarMain").style.top = "0px";
                document.getElementById("navbarPrioriLogo").style.visibility = "hidden";
            } else {
                document.getElementById("navbarMain").style.top = "-70px";
                document.getElementById("navbarPrioriLogo").style.visibility = "visible";
            }
            prevScrollpos = currentScrollPos;
        }
    </script>
</body>

</html>
