@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace PRIORI_SERVICES_WEB.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <script src="js/bootstrap.bundle.min.js"></script>
    <link rel="icon" type="image/png" href="favicon.png" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>

<body class="bg-dark text-light">
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <script src="_framework/blazor.server.js"></script>
    <script>
        function widthGraphUpdate(graph, percent) { document.getElementById(graph).style.width = percent; }
    </script>
</body>

</html>
