@page "/areausuario"
@inject IJSRuntime JSInterop
@inject NavigationManager NavigationManager
@inject ProtectedLocalStorage ProtectedLocalStorage
@using PRIORI_SERVICES_WEB.Data.Types

<style>
    ::-webkit-scrollbar {
        display: none;
    }

    body {
        background-image: linear-gradient(75deg, rgb(211, 35, 218), rgb(114, 0, 167));
    }
</style>


<NavMenu nav_classes="sticky-top" nav_style="" />

<section class="bg-transparent py-5 container-fluid row d-flex flex-row justify-content-center align-items-center">
    <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="assets/inv1Img.png" width="85%" class="img-fluid" alt="Sample image">
    </div>
    <div class="d-flex flex-column align-items-center col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <a href="/dados-cadastrados" class="btn container-fluid btn-outline-light text-light p-3 fs-2">
            Minha Conta
        </a>
        <a href="/investimentos-efetuados" class="btn container-fluid btn-outline-light text-light p-3 fs-2">
            Meus Investimentos
        </a>
        <button @onclick="SairUser" class="btn container-fluid btn-outline-light text-light p-3 fs-2">
            Sair
        </button>
    </div>
</section>

@code {
    public async void SairUser()
    {
        await ProtectedLocalStorage.SetAsync(LocalStorageKeys.app_token.ToString(), "");
        NavigationManager.NavigateTo("/");
    }
}
