@page "/areausuario"
@inject IJSRuntime JSInterop
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@using PRIORI_SERVICES_WEB.Data.Types

<style>
    ::-webkit-scrollbar {
        display: none;
    }

    body {
        background-image: linear-gradient(75deg, rgb(211, 35, 218), rgb(114, 0, 167));
    }
</style>


<NavMenu nav_classes="fixed-top" nav_style="" />

<section class="container-fluid mt-5 d-flex flex-row justify-content-center align-items-center">
    <div class="">
        <i class="bi bi-person-circle" style="font-size: 400px;" alt="Sample image" />
    </div>
    <div class="d-flex flex-column align-items-center col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <a href="/perfil-usuario" class="btn container-fluid btn-outline-light p-3 fs-2">
            Minha Conta
        </a>
        <a href="/investimentos-efetuados" class="btn container-fluid btn-outline-light p-3 my-4 fs-2">
            Meus Investimentos
        </a>
        <button @onclick="SairUser" class="btn container-fluid btn-outline-light p-3 fs-2">
            Sair
        </button>
    </div>
</section>

@code {
    public async void SairUser()
    {
        await LocalStorage.SetItemAsStringAsync(LocalStorageKeys.user_id.ToString(), String.Empty);
        await LocalStorage.SetItemAsStringAsync(LocalStorageKeys.app_token.ToString(), String.Empty);
        NavigationManager.NavigateTo("/");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        string user_app_token = await LocalStorage.GetItemAsStringAsync(LocalStorageKeys.app_token.ToString());

        if ( user_app_token == null || user_app_token == String.Empty || user_app_token == "")
            NavigationManager.NavigateTo("/");
    }
}
