@page "/blog-viewer"

@using PRIORI_SERVICES_WEB.Data.Model
@using Markdig
@using PRIORI_SERVICES_WEB.Data.Types

<style>
    html,
    body {
    @(BackgroundGradients.BackgroundPrincipal);
    }
</style>

<NavMenu nav_classes="sticky_top" />

<!-- Page content-->
<div class="container mt-3">
    <div class="row">
        <div class="col-lg-8 mb-3">
            <!-- Post content-->
            <article class="card">
                <!-- Post header-->
                <header class="pt-4 px-4 card-header">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">@(SharedAssets.PostMain!.titulo)</h1>
                    <!-- Post meta content-->
                    <div class="text-white fst-italic mb-2">Posted on @(SharedAssets.PostMain!.data_criacao), por
                        <i>Priori Services</i>
                    </div>
                </header>

                <!-- Post content-->
                <section class="mb-5 card-body container px-5">
                    <p style="text-align: justify;">
                        @((MarkupString)(Markdown.ToHtml(SharedAssets.PostMain!.conteudo!)))
                    </p>
                </section>

            </article>
        </div>
        <!-- Widgets laterais-->
        <div class="col-lg-4">
            <!-- Widget Cartegorias-->
            <div class="card mb-4">
                <div class="card-header">Cartegorias</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled">
                                <li class="my-1 bg-primary badge rounded-pill">Taxas de Rentabilidade</li>
                                <li class="my-1 bg-primary badge rounded-pill">Programa de Pontos</li>
                                <li class="my-1 bg-primary badge rounded-pill">A Priori</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header"><i>Priori Services</i></div>
                <div class="card-body">Sabia que a <i>Priori</i> sempre traz inovação pensando nos nossos
                    clientes? Aproveite!</div>
            </div>

        </div>


    </div>
</div>
