@page "/cadastro"
@using PRIORI_SERVICES_WEB.Data.Model
@using PRIORI_SERVICES_WEB.Handler
@inject IJSRuntime JSInterop
@inject NavigationManager NavigationManager
@inject IToastService Toast

<NavMenu nav_classes="sticky-top" />

<style>
    .fonteInfo {
        font-size: 1.3rem;
    }

    .detalhes {
        font-size: 0.8rem;
        padding-left: 0.8rem;
    }

    html,
    body {
        background-image: linear-gradient(75deg, rgb(211, 35, 218), rgb(114, 0, 167));
    }
</style>


<div class="container-fluid d-flex align-items-center flex-column">

    <div class="container-fluid text-center">
        <h1 class="fs-1 fw-bold" style="font-family: 'Poppins', sans-serif; letter-spacing: 1px;">Cadastro</h1>
    </div>

    <!-- Pills content -->
    <div class="tab-pane d-flex flex-column" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
        <div class="form-outline mb-4">
            <label class="form-label fonteInfo" for="registrarNome">Nome Completo</label>
            <input type="text" @bind="target_cliente.nome" @bind:event="oninput" class="form-control" required /> <br>
        </div>

        <div class="form-outline mb-4">
            <label class="form-label fonteInfo" for="registrarCPF">CPF</label>
            <input type="text" @bind="target_cliente.cpf" @bind:event="oninput" class="form-control" required
                maxlength="11" /> <br>
        </div>

        <div class="form-outline mb-4">
            <label class="form-label fonteInfo" for="registrarDataNASCIMENTO">Data de Nascimento</label>
            <span class="detalhes">necessária pra identificar a maioridade</span>
            <input type="date" @bind="dataNascimento" @bind:event="oninput" class="form-control" required />
        </div>

        <div class="form-outline mb-4">
            <label class="form-label fonteInfo" for="registrarEmail">E-mail</label>
            <span class="detalhes">você vai precisar ativar sua conta depois de criar seu cadastro</span>
            <input type="email" @bind="target_cliente.email" @bind:event="oninput" class="form-control" required /> <br>
        </div>

        <div class="form-outline mb-4">
            <label class="form-label fonteInfo" for="registerPassword">Senha</label>
            <input type="password" @bind="target_cliente.senha" @bind:event="oninput" class="form-control" required />
        </div>

        <div class="form-outline mb-4">
            <label class="form-label fonteInfo" for="registerRepeatPassword">Confirme sua senha</label>
            <input type="password" @bind="confirmacaoSenhaLogin" @bind:event="oninput" class="form-control" required />
        </div>

        <div class="form-check d-flex justify-content-center mb-4">
            <input class="form-check-input me-2" type="checkbox" value="" @bind="registerCheck"
                aria-describedby="registerCheckHelpText" required />
            <label class="form-check-label" for="registerCheck">
                Li e concordo com os <a class="text-light" href="/termos-de-uso"> termos de uso</a>
            </label>
        </div>

        <button formaction="post" @onclick="CadastroUser" class="text-center btn btn-outline-light px-4 py-2 fs-5 ">
            CADASTRAR
        </button>
    </div>
</div>

@code {
    public struct ErrorEntry
    {
        public bool is_error_valid;
        public string error_description;
    }
    public ClienteDBO target_cliente = new ClienteDBO();
    public DateTime dataNascimento { get; set; } = DateTime.Now;
    public string confirmacaoSenhaLogin { get; set; } = String.Empty;
    public bool registerCheck { get; set; } = false;

    public void CadastroUser()
    {
        foreach (var prop in target_cliente.GetType().GetProperties())
        {
            if (prop.GetValue(target_cliente, null) == null)
            {
                Toast.ShowError("É necessário preencher todos os campos com suas informação para proceder.");
                return;
            }
        }

        var main_checks = new ErrorEntry[] {
new ErrorEntry {
is_error_valid = ((DateTime.Now.Year - dataNascimento.Year) <= 18),
error_description = "Você deve ser maior de 18 anos de idade para acessar este site de investimentos"
},
new ErrorEntry {
is_error_valid = (target_cliente.senha != confirmacaoSenhaLogin),
error_description = "A senha e sua confirmação não são iguais"
},
new ErrorEntry {
is_error_valid = (!target_cliente.senha!.Any(char.IsSymbol)),
error_description = "Senha deve conter símbolos"
},
new ErrorEntry {
is_error_valid = (target_cliente.senha!.Length <= 8),
error_description = "Senha deve ter mais de 8 caractéres"
},
new ErrorEntry {
is_error_valid = (!target_cliente.senha.Any(char.IsNumber)),
error_description = "Senha deve ter pelo menos um número"
},
new ErrorEntry {
is_error_valid = (!target_cliente.senha.Any(char.IsUpper)),
error_description = "Senha deve ter pelo menos um caractére maiúsculo"
},
new ErrorEntry {
is_error_valid = (target_cliente.cpf!.Length > 11),
error_description = "CPF do usuário deve ter menos de 11 caractéres"
}
};

        foreach (var check in main_checks)
        {
            if (check.is_error_valid)
            {
                Toast.ShowError(check.error_description);
                return;
            }
        }

        try { CadastroUserAsync(target_cliente).RunSynchronously(); }
        catch (Exception) { }
    }

    public async Task CadastroUserAsync(ClienteDBO request)
    {
        HttpResponseMessage response = null!;
        try
        {
            response = await APIHandler.PostApiRequestAsync(new Dictionary<string, object> {
{"nome", request.nome!},
{"senha", request.senha!},
{"cpf", request.cpf!},
{"email", request.email!},
{"dataNascimento", $"{dataNascimento.Day}/{dataNascimento.Month}/{dataNascimento.Year}"}}, "/Auth/Cliente/registrar");
        }
        catch (Exception)
        {
            Toast.ShowError("Houve um erro ao cadastrar, tente novamente");
            return;
        }

        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/login");
            return;
        }

        Toast.ShowError("Falha ao cadastrar, tente novamente");
    }
}
