@page "/"

<style>
    ::-webkit-scrollbar {
        display: none;
    }

    .back-to-top {
        position: fixed;
        visibility: visible;
        opacity: 1;
        right: 2em;
        bottom: 2rem;
        z-index: 996;
        background: #5846f9;
        width: 40px;
        height: 40px;
        border-radius: 4px;
        transition: all 0.4s;
    }

    .back-to-top i {
        font-size: 25px;
        color: #fff;
        margin-left: -4px;
        line-height: 0;
    }

    .back-to-top:hover {
        background: #7b27d8;
        color: #fff;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown link
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<NavMenu nav_classes="sticky-top bg-transparent" />

<section class="d-flex flex-wrap flex-lg-nowrap align-items-center text-white py-5"
    style="background-image: linear-gradient(75deg, rgb(211, 35, 218), rgb(114, 0, 167));">
    <div class="container-xl d-flex flex-column">
        <div>
            &ensp;
        </div>
        <div class="container-xl text-center">
            <h1 class="fs-1">Inovação Financeira</h1>
            <p>Usamos a tecnologia a favor dos nossos clientes</p>
            <NavLink href="#conhecaPriori" class="btn btn-outline-light text-white p-2">Conheça a Priori</NavLink>
        </div>
        <div>
            &ensp;
        </div>
    </div>

    <div class="container-sm">
        <img src="assets/hero-img.png" width="500em" height="500em">
    </div>
</section>

<a href="#" class="btn d-flex back-to-top"><i class="bi bi-arrow-up-short"></i></a>

<section class="d-flex flex-wrap flex-lg-nowrap align-items-center bg-white text-dark p-3 py-5" id="conhecaPriori">
    <div class="container-xl d-flex flex-column pl-3">
        <div>
            &ensp;
        </div>
        <div class="container-xl text-center">
            <h1 class="fs-1">Sistema Priori</h1>
            <p class="fs-5">Através de um ecossistema completo, podemos oferecer a melhor experiência aos nossos
                clientes, com:</p>
            <ul style="list-style-type: none; text-align: left">
                <li><i class="bi-check-circle mx-3 text-primary" />Diversos tipos de investimentos disponíveis</li>
                <li><i class="bi-check-circle mx-3 text-primary" />Conteúdo educativo através do nosso blog</li>
                <li><i class="bi-check-circle mx-3 text-primary" />Atualização diárias das taxas de rentabilidade</li>
            </ul>
            <a class="btn btn-outline-dark text-dark p-2" href="#saberMais">Quero saber mais</a>
        </div>
        <div>
            &ensp;
        </div>
    </div>

    <div class="container-sm">
        <img src="assets/about.jpg">
    </div>
</section>


<section class="d-flex flex-wrap flex-lg-nowrap align-items-center text-white text-center p-3 py-5" id="saberMais"
    style="background-image: linear-gradient(75deg, rgb(224, 139, 213), rgb(167, 143, 255));">
    <div class="d-flex flex-column p-5 align-items-center container-fluid">
        <div>&ensp;</div>
        <div class="container">
            <h1 class="fw-bold">10.514</h1>
            <h4>Clientes</h4>
        </div>
        <div>&ensp;</div>
    </div>
    <div class="d-flex flex-column p-5 align-items-center container-fluid">
        <div>&ensp;</div>
        <div>
            <h1 class="fw-bold">+50</h1>
            <h4>Investimentos</h4>
        </div>
        <div>&ensp;</div>
    </div>
    <div class="d-flex flex-column p-5 align-items-center container-fluid">
        <div>&ensp;</div>
        <div>
            <h1 class="fw-bold">433</h1>
            <h4>Horas de suporte</h4>
        </div>
        <div>&ensp;</div>
    </div>
    <div class="d-flex flex-column p-5 align-items-center container-fluid">
        <div>&ensp;</div>
        <div>
            <h1 class="fw-bold">6</h1>
            <h4>Consultores especialistas</h4>
        </div>
        <div>&ensp;</div>
    </div>
</section>

<section class="d-flex flex-wrap flex-lg-nowrap flex-column container-fluid bg-white text-dark py-5">
    <h1 class="text-center fw-bold">Segurança</h1>
    <hr>
    <p class="text-center">Seguimos os mais altos padrões de segurança na contratação de nossos investimentos.</p>
    <div class="d-flex flex-row flex-wrap flex-lg-nowrap align-items-center containerr-fluid">
        <div class="d-flex flex-column container-fluid">
            <div class="container d-flex flex-row">
                <i class="bi bi-safe2-fill mx-3" style="font-size: 50px;" />
                <div class="container">
                    <h3>Padrão Internacional</h3>
                    <p>Utilizamos o padrão disponibilizado pelo FED</p>
                </div>
            </div>
            <div class="container d-flex flex-row">
                <i class="bi bi-box mx-3" style="font-size: 50px;" />
                <div class="container">
                    <h3>Servidor AWS</h3>
                    <p>Dispõe dos melhores recursos oferecidos pela Amazon</p>
                </div>
            </div>
            <div class="container d-flex flex-row">
                <i class="bi bi-shield-shaded mx-3" style="font-size: 50px;" />
                <div class="container">
                    <span class="fs-3">Criptografia de Ponta-a-Ponta</span>
                    <p>Criptogramaos as informações dos nossos clientes para uma maior proteção</p>
                </div>

            </div>
        </div>
        <div class="container-fluid">
            <img src="assets/features.svg" height="500em" width="500em">
        </div>
    </div>
</section>

<section class="d-flex flex-wrap flex-lg-nowrap flex-column align-items-center text-center py-5 bg-light text-dark">
    <h1 class="fw-bold">Relatos</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt quam, sapiente quo sunt necessitatibus
        ratione? Aliquam, porro facere eum totam inventore consectetur tempora, sapiente, corporis repellendus odit
        laudantium culpa rerum.</p>
    <div class="d-flex flex-row flex-wrap flex-lg-nowrap container-fluid align-items-center my-3">
        <div class="card container-fluid py-4 mx-3">
            <div class="card-header bg-white">
                <span class="fw-bold fs-5">Gus Fring</span>
                <span class="text-bg-secondary badge bg-secondary" style="font-size: x-small;">That guy</span>
            </div>
            <div class="card-body">
                <i class="bi bi-quote" />
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat perspiciatis officiis quam qui
                    laboriosam possimus totam aut, quas velit doloribus laudantium nisi corrupti ut? Exercitationem cum
                    harum dolores hic? Recusandae!</span>
                <i class="bi bi-quote" />
            </div>
        </div>
        <div class="card container-fluid py-4 mx-3">
            <div class="card-header bg-white">
                <span class="fw-bold fs-5">Saul Goodman</span>
                <span class="text-bg-secondary badge bg-secondary" style="font-size: x-small;">Lawyer</span>
            </div>
            <div class="card-body">
                <i class="bi bi-quote" />
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat perspiciatis officiis quam qui
                    laboriosam possimus totam aut, quas velit doloribus laudantium nisi corrupti ut? Exercitationem cum
                    harum dolores hic? Recusandae!</span>
                <i class="bi bi-quote" />
            </div>
        </div>
        <div class="card container-fluid py-4 mx-3">
            <div class="card-header bg-white">
                <span class="fw-bold fs-5">Walter White</span>
                <span class="text-bg-secondary badge bg-secondary" style="font-size: x-small;">From Breaking Bad</span>
            </div>
            <div class="card-body">
                <i class="bi bi-quote" />
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat perspiciatis officiis quam qui
                    laboriosam possimus totam aut, quas velit doloribus laudantium nisi corrupti ut? Exercitationem cum
                    harum dolores hic? Recusandae!</span>
                <i class="bi bi-quote" />
            </div>
        </div>
    </div>
</section>
