@page "/investimentos-disponiveis"
@using PRIORI_SERVICES_WEB.Data.Model;
@using PRIORI_SERVICES_WEB.Data.API;

<style>
    html, body {
        background-image: linear-gradient(75deg, rgb(211, 35, 218), rgb(114, 0, 167));
    }
    .margemInv {
        margin-left: 4rem;
    }
</style>

<NavMenu nav_classes="sticky-top" />

<div class="margemInv">
    <style>
        .fonteDisp {
        font-size: 30px;
        font-family: "Poppins", sans-serif;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: uppercase;
        }
        .centralizar {
            text-align: center;
            margin-right: 1rem;
        }
        .margin-tabela {
            margin-left: 10rem;
            width: auto;
            margin-right: 0.1rem;
        }
        .margin-header-tabela {
            letter-spacing: 1.5px;
            width: auto;
            margin-top: 0.5rem;
        }
    </style>
</div>

<p class="fonteDisp centralizar mt-5">Nossos Investimentos</p>

<div class="my-4 row row-cols-1 margin-tabela">

            <div class="d-flex flex-column bg-white text-dark margin-header-tabela pb-2"
            style="border-radius: 1rem;">

                <div class="d-flex flex-row bg-white text-dark margin-header-tabela">

                    <div class="d-flex flex-column bg-white text-dark margin-header-tabela">
                        <div class="p-3 centralizar">Nome do Título</div>
                        @foreach (Investimento investimento in invDisponiveis)
                        {
                        <div class="p-2">
                            <ul class="list-group" style="list-style-type: none;">
                                <li class="list-group-item margin-header-tabela">@investimento.nome</li>
                            </ul>
                        </div>
                        }
                    </div>

                    <div class="d-flex flex-column bg-white text-dark margin-header-tabela">
                        <div class="p-3 centralizar">Risco Inv</div>
                        @foreach (Investimento investimento in invDisponiveis)
                        {
                        @if (investimento.id_riscoInvestimento == 1) {
                        <div class="p-2">
                            <ul class="list-group" style="list-style-type: none;">
                                <li class="list-group-item margin-header-tabela bg-success text-light">Baixo</li>
                            </ul>
                        </div>
                            } 
                        @if (investimento.id_riscoInvestimento == 2) {
                        <div class="p-2">
                            <ul class="list-group" style="list-style-type: none;">
                                <li class="list-group-item margin-header-tabela bg-warning text-light">Médio</li>
                            </ul>
                        </div>
                            } 
                        @if (investimento.id_riscoInvestimento == 3) {
                        <div class="p-2">
                            <ul class="list-group" style="list-style-type: none;">
                                <li class="list-group-item margin-header-tabela bg-danger text-light">Alto</li>
                            </ul>
                        </div>
                            } 
                        }
                    </div>

                    <div class="d-flex flex-column bg-white text-dark margin-header-tabela">
                        <div class="p-3 centralizar">Rentabilidade</div>
                        @foreach (Investimento investimento in invDisponiveis)
                        {
                        <div class="p-2">
                            <ul class="list-group" style="list-style-type: none;">
                                <li class="list-group-item margin-header-tabela">@investimento.rentabilidade_fixa</li>
                            </ul>
                        </div>
                        }
                    </div>

                    <div class="d-flex flex-column bg-white text-dark margin-header-tabela">
                        <div class="p-3 centralizar">Data de Resgate</div>
                        @foreach (Investimento investimento in invDisponiveis)
                        {
                        <div class="p-2">
                            <ul class="list-group" style="list-style-type: none;">
                                <li class="list-group-item margin-header-tabela">@investimento.vencimento</li>
                            </ul>
                        </div>
                        }
                    </div>

                    <div class="d-flex flex-column bg-white text-dark margin-header-tabela">
                        <div class="p-3 centralizar">Investimento Mínimo</div>
                        @foreach (Investimento investimento in invDisponiveis)
                        {
                        <div class="p-2">
                            <ul class="list-group" style="list-style-type: none;">
                                <li class="list-group-item margin-header-tabela">R$: @investimento.valor_minimo</li>
                            </ul>
                        </div>
                        }
                    </div>

                    <div class="d-flex flex-column bg-white text-dark margin-header-tabela">
                        <div class="p-3 centralizar">Contratação</div>
                        @foreach (Investimento investimento in invDisponiveis)
                        {
                        <div style="padding: 0.4rem;">
                            <ul class="list-group" style="list-style-type: none;">
                                <li class="list-group-item margin-header-tabela">
                                    <a href="/login" class="text-center btn btn-outline-info py-0">CONTRATE</a>
                                </li>
                            </ul>
                        </div>
                        }
                    </div>

                </div>

            </div>
</div>

<Footer></Footer>

@code {
    public Investimento[] invDisponiveis = new Investimento[0];

    protected override async Task OnInitializedAsync()
    {
        invDisponiveis = await APIHandler.FetchOrFallbackAsync<Investimento[]>("/investimento", new Investimento[] {
           new Investimento {
            nome = "Falha ao encontrar investimentos."
           } 
        });
    }
}
