@page "/termos-de-uso"

<style>
    html,
    body {
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        letter-spacing: 1px;
        background-image: linear-gradient(75deg, rgb(211, 35, 218), rgb(114, 0, 167));
    }

    .fonte2 {
        font-size: 30px;
        font-family: "Poppins", sans-serif;
        text-align: center;
        padding-top: 4rem;
        padding-bottom: 4rem;
        line-height: 1;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .centralizar {
        justify-content: center;
        text-align: center;
    }
</style>


<div class="container-sm text-align-justify">
    <div class="container text-nowrap text-decoration-none text-white fonte2">
        <div>
            <a href="/" style="text-decoration: none;" class="text-white">
                <img src="assets/Logo_Priori_Services.png" alt="Logo Priori Services" class="navbar-brand img-fluid"
                    width="65em" height="60em" />
                Priori Services
            </a>
        </div>
        <div class="mt-4">
            <span class="text-light fs-1 mb-3 fonte2">Política Privacidade</span>
        </div>
    </div>

    <p class="text-light">
        A sua privacidade é importante para nós. É política da <i>Priori</i> respeitar a sua privacidade em relação a
        qualquer informação sua que possamos coletar no site <i>Priori Services</i>, e outros sites que possuímos e
        operamos.
    </p>
    <p>
        <span class="text-light">
            Solicitamos informações pessoais apenas quando realmente precisamos delas para lhe fornecer um serviço.
            Fazemo-lo por meios justos e legais, com o seu conhecimento e consentimento. Também informamos por que
            estamos coletando e como será usado.
        </span>
    </p>
    <p>
        <span class="text-light">
            Apenas retemos as informações coletadas pelo tempo necessário para fornecer o serviço solicitado. Quando
            armazenamos dados, protegemos dentro de meios comercialmente aceitáveis ​​para evitar perdas e roubos, bem
            como acesso, divulgação, cópia, uso ou modificação não autorizados.
        </span>
    </p>
    <p>
        <span class="text-light">
            Não compartilhamos informações de identificação pessoal publicamente ou com terceiros, exceto quando exigido
            por lei.
        </span>
    </p>
    <p>
        <span class="text-light">
            O nosso site pode ter links para sites externos que <u><b>não</b> são operados por nós</u>. Esteja ciente de
            que não temos controle sobre o conteúdo e práticas desses sites e não podemos aceitar responsabilidade por
            suas respectivas políticas de privacidade.
        </span>
    </p>
    <p>
        <span class="text-light">
            Você é livre para recusar a nossa solicitação de informações pessoais, entendendo que talvez não possamos
            fornecer alguns dos serviços desejados.
        </span>
    </p>

    <p>
        <span class="text-light">
            O uso continuado de nosso site será considerado como aceitação de nossas práticas em torno de privacidade e
            informações pessoais. Se você tiver
            alguma dúvida sobre como lidamos com dados do usuário e informações pessoais, entre em contato conosco.
        </span>
    </p>

    <p>
        <span class="text-light">
            <ul>
                <li>
                    <span class="text-light">
                        Utilizamos anúncios para compensar os custos de funcionamento deste site e fornecer
                        financiamento para futuros desenvolvimentos. Os cookies de publicidade comportamental usados
                        ​​por este site foram projetados para garantir
                        que você forneça os anúncios mais relevantes sempre que possível, rastreando anonimamente seus
                        interesses e apresentando coisas semelhantes que possam ser do seu interesse.
                    </span>
                </li>
                <li>
                    <span class="text-light">
                        Vários parceiros anunciam em nosso nome e os cookies de rastreamento de afiliados simplesmente
                        nos permitem ver se nossos clientes acessaram o site através de um dos sites de nossos
                        parceiros, para que possamos creditá-los
                        adequadamente e, quando aplicável, permitir que nossos parceiros afiliados ofereçam qualquer
                        promoção que pode fornecê-lo para fazer uma compra.
                    </span>
                </li>
            </ul>
            <p>
                <br>
            </p>
        </span>
    </p>

    <h3>
        <span class="text-light">
            Compromisso do Usuário
        </span>
    </h3>
    <p>
        <span class="text-light">
            O usuário se compromete a fazer uso adequado dos conteúdos e da informação que a <i>Priori</i> oferece no
            site e com caráter enunciativo, mas não limitativo:
        </span>
    </p>
    <ul>
        <li>
            <span class="text-light">
                A) Não se envolver em atividades que sejam ilegais ou contrárias à boa fé a à ordem pública;
            </span>
        </li>
        <li>
            <span class="text-light">
                B) Não difundir propaganda ou conteúdo de natureza racista, xenofóbica ou azar, qualquer tipo
                de apologia ao terrorismo ou contra os direitos humanos;
            </span>
        </li>
        <li>
            <span class="text-light">
                C) Não causar danos aos sistemas físicos (hardwares) e lógicos (softwares) da <i>Priori</i>, de seus
                fornecedores ou terceiros, para introduzir ou disseminar
                vírus informáticos ou quaisquer outros sistemas de hardware ou software que sejam capazes de causar
                danos anteriormente mencionados.
            </span>
        </li>
    </ul>

    <h3>
        <span class="text-light">
            Mais informações
        </span>
    </h3>
    <p>
        <span class="text-light">
            Esperemos que esteja esclarecido e, como mencionado anteriormente, se houver algo que você não tem certeza
            se precisa ou não, geralmente é mais seguro deixar os cookies
            ativados, caso interaja com um dos recursos que você usa em nosso site.
        </span>
    </p>
    <br>
    <p>
    <h3 class="text-light">
        <u>Esta política é efetiva a partir de&nbsp;1 de Maio de 2023.</u>
    </h3>
    </p>

    <br>

    <a href="/cadastro" class="btn btn-outline-light px-4 py-2 fs-5 margem2 centralizar">
        Retornar ao cadastro
    </a>

</div>
