@using PRIORI_SERVICES_WEB.Handler;
@inject ILocalStorageService LocalStorage
@inject IToastService Toast
@inject IAsyncService AsyncService

<div class="text-dark d-flex flex-column mt-3">
    <div class="form-outline mb-4">
        <label class="form-label fonteInfo" for="registrarEmail">E-mail</label>
        <input type="email" @bind="emailUsuario" @bind:event="oninput" class="form-control" required maxlength="40" />
    </div>

    <div class="form-outline mb-4">
        <label class="form-label fonteInfo" for="registrarEmail">Endereço</label>
        <input type="text" @bind="enderecoUsuario" @bind:event="oninput" class="form-control" required maxlength="60" />
    </div>

    <div class="form-outline mb-4">
        <label class="form-label fonteInfo" for="registerPassword">Confirme ou altere sua senha</label>
        <input type="password" @bind="senhaUsuario" @bind:event="oninput" class="form-control" required />
    </div>

    <div class="form-outline mb-4">
        <label class="form-label fonteInfo" for="registerRepeatPassword">Confirme novamente sua senha</label>
        <input type="password" @bind="senhaConfirm" @bind:event="oninput" class="form-control" required />
    </div>
    <p>* Somente os dados alterados irão ser modificados, mas confirmar ou alterar a senha é necessário</p>
    <button @onclick="@(() => AsyncService.RunTaskAsSync(AlterarCliente))" class="btn btn-primary">Alterar
        Dados</button>
</div>


@code {
    [Parameter] public Cliente? usuarioFull { get; set; }
    private string enderecoUsuario { get; set; } = String.Empty;
    private string emailUsuario { get; set; } = String.Empty;
    private string senhaUsuario { get; set; } = String.Empty;
    private string senhaConfirm { get; set; } = String.Empty;
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    private async Task AlterarCliente()
    {
        if (senhaUsuario != senhaConfirm && senhaUsuario == null)
        {
            Toast.ShowError("As senhas não são iguais");
            return;
        }
        if (senhaUsuario == null || senhaUsuario == "" || senhaUsuario == String.Empty
        || senhaConfirm == null || senhaConfirm == "" || senhaConfirm == String.Empty)
        {
            Toast.ShowError("As senhas não podem ser nulas");
            return;
        }

        const string FAILURE_STATE = "Falha ao alterar dados do usuário";
        HttpResponseMessage response;

        string app_token = (await LocalStorage.GetItemAsStringAsync(LocalStorageKeys.app_token.ToString()));
        string user_id = (await LocalStorage.GetItemAsStringAsync(LocalStorageKeys.user_id.ToString()));

        APIHandler.static_client.DefaultRequestHeaders.Authorization = new
        System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", app_token);

        try
        {
            response = await APIHandler.PutRequestAsync(
            new Dictionary<string, object> {
{"email", emailUsuario},
{"senha", senhaUsuario},
{"endereco", enderecoUsuario}
                }, $"/Auth/Cliente/{user_id}"
            );
        }
        catch (Exception e)
        {
            Toast.ShowError(FAILURE_STATE);
            Console.WriteLine(e);
            return;
        }

        APIHandler.static_client.DefaultRequestHeaders.Authorization = null;

        if (!response.IsSuccessStatusCode)
        {
            Toast.ShowError(FAILURE_STATE);
            Console.WriteLine(response.StatusCode);
            return;
        }

        Toast.ShowSuccess("Dados Alterados com Sucesso!");
        await BlazoredModal.CloseAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        if (usuarioFull == null || usuarioFull.endereco == null || usuarioFull.email == null)
        {
            Toast.ShowError("Falha ao ler as informações do usuário");
            await BlazoredModal.CancelAsync();
            return;
        }
        this.enderecoUsuario = usuarioFull.endereco;
        this.emailUsuario = usuarioFull.email;
    }
}
