@inject IToastService Toast
@using PRIORI_SERVICES_WEB.Handler
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject ISMTPService SMTP
@inject IAsyncService AsyncService
@using System.Net.Mail

<div class="card-body text-dark px-5">
    @if (!EmailEnviado)
    {
        <h1>Espere enquanto estamos enviando um email para confirmação...</h1>
    }
    else
    {
        @if (!CodigoCorreto)
        {
            <p class="card-text fs-2 py-2">
                Digite aqui o código de confirmação enviado ao email @UsuarioFull!.email
            </p>
            <div class="form-outline">
                <input type="text" @bind="CodigoInput" @bind:event="oninput" id="typeEmail" class="form-control my-3" />
            </div>
            <button @onclick="() => CodigoCorreto = (CodigoInput == CodigoGen)" class="btn btn-primary w-100">Verificar
                Código</button>
        }
        else
        {
            <p class="fs-3">Insira sua nova senha</p>
            <div class="form-outline">
                <input type="password" @bind="SenhaNovaInput" @bind:event="oninput" id="typeEmail" class="form-control my-3" />
            </div>

            <p class="">Confirmação de senha</p>
            <div class="form-outline">
                <input type="password" @bind="SenhaNovaConfirm" @bind:event="oninput" id="typeEmail" class="form-control my-3" />
            </div>

            <button @onclick="@(() => AsyncService.RunTaskAsSync(AlterarSenha))" class="btn btn-primary w-100">Alterar
                Senha</button>
        }
    }
</div>

@code {
    private bool EmailEnviado { get; set; } = false;
    private bool CodigoCorreto { get; set; } = false;
    private string CodigoGen { get; set; } = String.Empty;
    [Parameter] public UserCredentials? UsuarioFull {get;set;}

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;
    private string CodigoInput { get; set; } = String.Empty;
    private string SenhaNovaInput { get; set; } = String.Empty;
    private string SenhaNovaConfirm { get; set; } = String.Empty;
    protected override void OnInitialized()
    {
        CodigoGen = SMTP.GenerateAuthenticationID(6);

        var mailMessage = new MailMessage
            {
                From = new MailAddress(ConfigHandler.PRIORI_EMAIL_ADDRESS),
                Subject = "Redefinição de senha Priori",
                
                Body = $"<h1>Redefinição de senha Priori</h1><h2>Seu código de recuperação de senha é: {CodigoGen}</h2>",
                /*
                <body style="background-color: #f4f4f4; margin: 0 !important; padding: 0 !important;">
    <div style="display: none; font-size: 1px; color: #fefefe; line-height: 1px; font-family: 'Lato', Helvetica, Arial, sans-serif; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;"> We're thrilled to have you here! Get ready to dive into your new account.
    </div>
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <!-- LOGO -->
        <tr>
            <td bgcolor="#5846f9" align="center">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                    <tr>
                        <td align="center" valign="top" style="padding: 40px 10px 40px 10px;"> </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td bgcolor="#5846f9" align="center" style="padding: 0px 10px 0px 10px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                    <tr>
                        <td bgcolor="#ffffff" align="center" valign="top" style="padding: 40px 20px 20px 20px; border-radius: 4px 4px 0px 0px; color: #111111; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 48px; font-weight: 400; letter-spacing: 4px; line-height: 48px;">
                            <h1 style="font-size: 48px; font-weight: 400; margin: 2;"><i>PRIORI</i></h1> 
                            <img src=".\LogoRoxo.png" width="125" height="120" style="display: block; border: 0px;" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td bgcolor="#f4f4f4" align="center" style="padding: 0px 10px 0px 10px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                    <tr>
                        <td bgcolor="#ffffff" align="left" style="padding: 20px 30px 40px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;">
                            <p style="margin: 0;">Estamos ansiosos para que você comece. Primeiro, você precisa confirmar sua conta. </p>
                            <p style="text-align: center;">Código de verificação:</p>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" align="left">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td bgcolor="#ffffff" align="center" style="padding: 0px 30px 60px 30px;">
                                        <table border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="center" style="border-radius: 3px;" bgcolor="#5846f9">
                                                    {CodigoGen}
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" align="left" style="padding: 0px 30px 20px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;">
                            <p style="margin: 0;">Se você tiver alguma dúvida, basta responder a este e-mail &mdash;teremos prazer em ajudar.</p>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" align="left" style="padding: 0px 30px 40px 30px; border-radius: 0px 0px 4px 4px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;">
                            <p style="margin: 0;">Cordialmente,<br>Equipe <i>Priori</i></p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
                 */
                IsBodyHtml = true
            };

        try
        {
            SMTP.SendMailTo(mailMessage, UsuarioFull!.email);
        }
        catch (SmtpException)
        {
            Toast.ShowError("Falha ao enviar email");
            return;
        }

        EmailEnviado = true;
        Toast.ShowSuccess("Email enviado com sucesso!");
    }

    private async Task AlterarSenha()
    {
        if (SenhaNovaInput != SenhaNovaConfirm)
        {
            Toast.ShowError("As senhas digitadas não são iguais");
            return;
        }
        @*TODO: Verificações válidas de senha daqui!*@
        const string FAILURE_STATE = "Falha ao mudar a senha";


        HttpResponseMessage response;
        try
        {
            response = await APIHandler.PutRequestAsync(new Dictionary<string, object> {
{"email", UsuarioFull!.email},
{"senha", SenhaNovaInput}}, $"/Auth/Cliente/senha/reset");
        }
        catch (Exception)
        {
            Toast.ShowError(FAILURE_STATE);
            return;
        }

        if (!response.IsSuccessStatusCode)
        {
            Toast.ShowError(FAILURE_STATE);
            Console.WriteLine(response.StatusCode);
            return;
        }

        Toast.ShowSuccess("Senha alterada com sucesso!");
        await BlazoredModal.CloseAsync();
    }
}
