@inject IToastService Toast
@using PRIORI_SERVICES_WEB.Handler
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject ISMTPService SMTP
@inject IAsyncService AsyncService

<div class="card-body text-dark px-5">
    @if (!EmailEnviado)
    {
        <p class="card-text fs-3 py-2">
            Escreva aqui seu email para que nós possamos enviar um email de recuperação
        </p>
        <div class="form-outline">
            <input type="email" @bind="EmailUser" @bind:event="oninput" id="typeEmail" class="form-control my-3" />
        </div>
        <button @onclick="EnviarEmail" class="btn btn-primary w-100">Enviar Email</button>
    }
    else
    {
        @if (!CodigoCorreto)
        {
            <p class="card-text fs-2 py-2">
                Agora escreva o código recebido
            </p>
            <div class="form-outline">
                <input type="text" @bind="CodigoInput" @bind:event="oninput" id="typeEmail" class="form-control my-3" />
            </div>
            <button @onclick="() => CodigoCorreto = (CodigoInput == CodigoGen)" class="btn btn-primary w-100">Verificar
                Código</button>
        }
        else
        {
            <p class="fs-3">Insira sua nova senha</p>
            <div class="form-outline">
                <input type="text" @bind="SenhaNovaInput" @bind:event="oninput" id="typeEmail" class="form-control my-3" />
            </div>

            <p class="">Confirmação de senha</p>
            <div class="form-outline">
                <input type="text" @bind="SenhaNovaConfirm" @bind:event="oninput" id="typeEmail" class="form-control my-3" />
            </div>

            <button @onclick="@(() => AsyncService.RunTaskAsSync(AlterarSenha))" class="btn btn-primary w-100">Alterar
                Senha</button>
        }
    }
</div>

@code {
    private bool EmailEnviado { get; set; } = false;
    private bool CodigoCorreto { get; set; } = false;
    private string EmailUser { get; set; } = String.Empty;
    private string CodigoInput { get; set; } = String.Empty;
    private string SenhaNovaInput { get; set; } = String.Empty;
    private string SenhaNovaConfirm { get; set; } = String.Empty;
    private string CodigoGen { get; set; } = String.Empty;
    private void EnviarEmail()
    {
        Toast.ShowInfo("Enviando email...");
        CodigoGen = SMTP.GenerateAuthenticationID(6);

        var mailMessage = new System.Net.Mail.MailMessage
            {
                From = new System.Net.Mail.MailAddress(ConfigHandler.PRIORI_EMAIL_ADDRESS),
                Subject = "Redefinição de senha Priori",
                Body = $"<h1>Teste de Redefinição de senha</h1><h2>Seu código de recuperação de senha é: {CodigoGen}</h2>",
                IsBodyHtml = true
            };

        try
        {
            SMTP.SendMailTo(mailMessage, EmailUser);
        }
        catch (System.Net.Mail.SmtpException)
        {
            Toast.ShowError("Falha ao enviar email");
            return;
        }

        EmailEnviado = true;
        Toast.ShowSuccess("Email enviado com sucesso!");
    }

    private async Task AlterarSenha()
    {
        if (SenhaNovaInput != SenhaNovaConfirm)
        {
            Toast.ShowError("As senhas digitadas não são iguais");
            return;
        }
        const string FAILURE_STATE = "Falha ao mudar a senha";

        string user_id = await LocalStorage.GetItemAsStringAsync(LocalStorageKeys.user_id.ToString());

        HttpResponseMessage response;
        try
        {
            response = await APIHandler.PostApiRequestAsync(new Dictionary<string, object> {
{"senha", SenhaNovaInput}}, $"/Auth/Cliente/senha/{user_id}");
        }
        catch (Exception)
        {
            Toast.ShowError(FAILURE_STATE);
            return;
        }

        if (!response.IsSuccessStatusCode)
        {
            Toast.ShowError(FAILURE_STATE);
            Console.WriteLine(response.StatusCode);
            return;
        }

        Toast.ShowSuccess("Senha alterada com sucesso!");
        @*Fechar modal aqui*@
    }
}
