<style>
    .centro {
        text-align: center;
    }
    .fontefooter {
        font-size: 12px;
        font-family: "Poppins", sans-serif;
        letter-spacing: 1px;
        line-height: 1.5rem;
        text-transform: uppercase;
    }
</style>

<footer class="text-light py-3 mt-3">
    <div class="container centro fontefooter">
        <div class="row">
            <hr class="mb-4"/>
            <div class="col-md-6">
                <h5 class="mb-4">Sobre nós</h5>
                <p>Nós, da <i>Priori</i>, estamos empenhados em ajudar nossos clientes a investir e alcançar seus objetivos financeiros.
                 Oferecemos uma ampla gama de investimentos para atender às necessidades de cada investidor.</p>
            </div>
            <div class="col-md-3">
                <h5 class="mb-3">Links úteis</h5>
                <ul class="list-unstyled">
                    <li><a class="text-light" href="/">Página inicial</a></li>
                    <li><a class="text-light" href="/investimentos-disponiveis">Investimentos Disponíveis</a></li>
                    <li><a class="text-light" href="#">Meus Investimentos</a></li>
                    <li><a class="text-light" href="/termos-de-uso">Termos de Uso</a></li>
                    <li><a class="text-light" href="/contato">Contato</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 class="mb-3">Entre em contato</h5>
                <ul class="list-unstyled">
                    <li><i class="fas fa-map-marker-alt"></i> Rua Pedro Vicente, 625 - Centro</li>
                    <li><i class="fas fa-phone"></i> Fone: (11) 1234-5678</li>
                    <li><i class="fas fa-envelope"></i><a class="text-light" href="mailto:priori@cyberservices.com">priori@cyberservices.com</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <p>&copy; <i>Priori Services</i>, 2023. Todos os direitos reservados.</p>
            </div>
        </div>
    </div>
</footer>
