<button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal"
  data-bs-target="#modalLogin">Login</button>
<button type="button" class="btn btn-primary">Cadastro</button>

<div class="modal fade" id="modalLogin" tabindex="-1" aria-labelledby="modalLogin" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <img src={logo} alt="Logo Priori Services" class="rounded mx-auto" width="250em" height="250em" />
      </div>
      <div class="modal-body">
        <div class="input-group mb-3 input-group-lg">
          <input type="text" class="form-control" placeholder="Nome" aria-label="Username"
            aria-describedby="basic-addon1" />
        </div>
        <div class="input-group input-group-lg mb-3">
          <input type="password" class="form-control" placeholder="Senha" aria-label="Senha"
            aria-describedby="basic-addon1" />
        </div>
        <div class="container-fluid d-flex flex-row justify-content-center">
          <button type="button" class="btn btn-secondary ms-3" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary ms-3">
            @if (cadastro.HasValue)
            {
              <>Cadastro</>
            }
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

@code {
  [Parameter]
  public bool? cadastro { get; set; } = false;
}