<div class="modal fade" id="modalLogin" tabindex="-1" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <img src="assets/Logo_Priori_Services.png" alt="Logo Priori Services" class="rounded mx-auto"
                    width="200em" height="200em" />
            </div>
            <div class="modal-body">
                <input type="text" class="form-control my-3 p-3 fs-5" placeholder="Email" aria-label="Email" />
                <input type="password" class="form-control my-3 p-3 fs-5" placeholder="Senha" aria-label="Senha" />

                <style>
                    .cadastro {
                        color: black;
                        text-align: center;
                        margin-top: 1em;
                        margin-bottom: 0.2em;
                    }
                </style>
                <a id="modalCadastro" data-bs-toggle="modal" data-bs-target="#modalCadastro">
                    <p class="cadastro h5"> Não possui cadastro? </p>
                </a>

            </div>
            <div class="modal-footer container-fluid d-flex flex-row justify-content-center">
                <button type="button" class="btn btn-secondary ms-3" data-bs-dismiss="modal">Fechar</button>
                @if (cadastro.HasValue && cadastro.Value)
                {
                    <button type="button" class="btn btn-primary ms-3">
                        Cadastro
                    </button>
                }
                else
                {
                    <button type="button" class="btn btn-primary ms-3">
                        Login
                    </button>
                }
            </div>
        </div>
    </div>
</div>

<div id="modalCadastro" class="modal fade" tabindex="-1" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>

@code {
    [Parameter]
    public bool? cadastro { get; set; } = false;
}
