@inherits LayoutComponentBase

<PageTitle>Priori Services</PageTitle>

<BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.BottomRight" SuccessIcon="bi bi-check"
    ErrorIcon="bi bi-slash-circle" InfoIcon="bi bi-info-circle" IconType="Blazored.Toast.Configuration.IconType.Custom"
    Timeout="10" />

<main>
    @Body
</main>
