<nav id="mainNav" class="navbar navbar-expand px-2 text-white rounded-1 bg-dark @nav_classes" style="@nav_style">
    <div class="container fs-2 fw-bold text-nowrap text-decoration-none text-white m-1-15">
        <NavLink href="/" style="text-decoration: none;" class="text-white">
            <img src="assets/Logo_Priori_Services.png" alt="Logo Priori Services" class="navbar-brand img-fluid"
                width="65em" height="60em" />
            Priori
            Services
        </NavLink>

        <a href="/" class=""></a>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" />
    </button>

    <ul id="navbarNav" class="navbar-nav navbar-collapse collapse">
        @foreach (KeyValuePair<string, string> route in amogus2avinganca)
        {
            <li class="nav-item d-flex flex-row me-3 justify-content-center">
                <NavLink href="@route.Key" class="nav-link text-white text-nowrap fs-5">
                    @route.Value
                </NavLink>
            </li>
        }

    </ul>
    <a href="/login" class="text-center btn btn-outline-light px-4 py-2 fs-5">
        Login
    </a>
</nav>

@code {
    private Dictionary<string, string> amogus2avinganca =
    new Dictionary<string, string> {
{ "/about", "Sobre Nós" },
{"/blog","Blog"},
{"/simulador","Simulador"},
{"/investimentos-disponiveis", "Investimentos"},
{"/contato","Contato"}
        };

    [Parameter]
    public string nav_classes { get; set; } = "";

    [Parameter]
    public string nav_style { get; set; } = "";
}
