<style>
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #ffffff;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
</style>

<nav id="mainNav" class="navbar navbar-expand text-white rounded-1 bg-dark @nav_classes" style="@nav_style">
    <div class="container text-nowrap text-decoration-none text-white m-1-15 fonte2">
        <NavLink href="/" style="text-decoration: none;" class="text-white">
            <img src="assets/Logo_Priori_Services.png" alt="Logo Priori Services" class="navbar-brand img-fluid margem3"
                width="65em" height="60em" />
            Priori
            Services
        </NavLink>

        <style>
            .fonte {
                font-size: 15px;
                font-family: "Poppins", sans-serif;
                margin: 0;
                padding: 0;
                line-height: 1;
                font-weight: 400;
                letter-spacing: 2px;
                text-transform: uppercase;
            }
            .fonte2 {
                font-size: 30px;
                font-family: "Poppins", sans-serif;
                margin: 0;
                padding: 0;
                line-height: 1;
                font-weight: 400;
                letter-spacing: 2px;
                text-transform: uppercase;
            }
            .fonte3 {
                font-size: 25px;
                font-family: "Poppins", sans-serif;
                margin: 0;
                padding: 0;
                line-height: 1;
                font-weight: 400;
                letter-spacing: 2px;
                text-transform: uppercase;
            }
        </style>

        <a href="/" class=""></a>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" />
    </button>

    <ul id="navbarNav" class="navbar-nav navbar-collapse collapse fonte">
        @foreach (KeyValuePair<string, string> route in amogus2avinganca)
        {
            <li class="nav-item d-flex flex-row me-3 justify-content-center hover-underline-animation margem">
                <NavLink href="@route.Key" class="nav-link text-white text-nowrap">
                    @route.Value
                </NavLink>
            </li>
            <style>
                .margem {
                    padding-right: 0.5rem;
                }
                .margem2 {
                    margin-right: 1.5rem;
                    margin-left: 1rem;
                }
                .margem3 {
                    margin-left: 1.5rem;
                }
                nav {
                    background-image: linear-gradient(75deg, rgb(211, 35, 218), rgb(114, 0, 167));"
                }
            </style>
        }

    </ul>
    <a href="/login" class="text-center btn btn-outline-light px-4 py-2 fs-5 margem2">
        Login
    </a>
</nav>

@code {
    private Dictionary<string, string> amogus2avinganca =
    new Dictionary<string, string> {
{"/blog","Blog"},
{"/simulador","Simulador"},
{"/investimentos-disponiveis", "Investimentos"},
{"/contato","Contato"}
        };

    [Parameter]
    public string nav_classes { get; set; } = "";

    [Parameter]
    public string nav_style { get; set; } = "";
}
