@using PRIORI_SERVICES_WEB.Data.Model
@using Markdig

<div class="card-body text-dark px-5">
    <h3>@(PostMain!.titulo)</h3>
    <h5>@(PostMain!.descricao)</h5>
    <hr>
    
    @((MarkupString)(Markdown.ToHtml(PostMain.conteudo!)))

</div>

@code {
    [Parameter] public PostBlog? PostMain { get; set; }
    [Parameter] public CategoriaBlog? CategoriaMain { get; set; }
}
